<link id="theme-stylesheet" rel="stylesheet" href="/css/combined-css/dist/cagov.css">
<style>
#main-header { padding: 0; }
#main-footer { 
  padding: 0; 
  background: transparent;
}
@media screen and (min-width: 1024px) {
  body[layout='layout-sidebar'] #sidebar, body[layout='layout-index'] #sidebar {
    display: none;
  }
}
#main-header .content-area { display: block; }
</style>