<style>
#main-header { padding: 0; }
#main-footer { 
  padding: 0; 
  background: transparent;
}
#main-header .content-area { display: block; }
</style>
<link id="theme-stylesheet" rel="stylesheet" href="/css/combined-css/dist/cagov.css">

<!-- this needs to be incorporated into design system -->
<style>
.expanded-menu-section-header-arrow-svg {
  fill: blue;
}
cagov-navoverlay {
  border-bottom: none;
}
</style>

<!-- missing utility classes -->
<style>
.full-bleed {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}
</style>